@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: "Rubik", sans-serif;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: #f7f7f7;
  overflow: hidden;
  z-index: -2;
}
.container::before {
  content: "";
  display: block;
  background: linear-gradient(180deg, #e942ff, #8838ff);
  border-bottom-right-radius: 450px;
  border-bottom-left-radius: 450px;
  width: 35vw;
  height: 86vh;
  position: absolute;
  top: 0;
  left: -6vw;
  z-index: -1;
}
.container::after {
  content: "";
  display: block;
  background: #f4f0f4;
  border-top-right-radius: 450px;
  border-top-left-radius: 450px;
  width: 35vw;
  height: 84vh;
  position: absolute;
  bottom: 0;
  right: -14vw;
  z-index: -1;
}

.phone {
  width: 50%;
}
.phone .frame {
  height: 532px;
  width: 255px;
  border: 10px solid white;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  background: #f7f7f7;
  margin-right: -16rem;
  box-shadow: 15px 25px 28px 3px rgba(0, 0, 0, 0.08);
}
.phone .frame .notch {
  background: white;
  width: 9rem;
  height: 2rem;
  border-radius: 15px;
  position: absolute;
  left: 3rem;
  top: -0.8rem;
}
.phone .frame .header {
  justify-content: space-between;
  background: linear-gradient(to left, #e942ff, #8838ff);
  height: 70px;
  padding: 0 1.3rem;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.phone .frame .header .user {
  padding: 2.5rem 0 1rem 0;
  position: relative;
}
.phone .frame .header .user::before {
  content: "";
  background: white;
  position: absolute;
  width: 0.45rem;
  height: 0.1rem;
  top: 3.35rem;
  left: -0.8rem;
  transform: rotate(-50deg);
}
.phone .frame .header .user::after {
  content: "";
  background: white;
  position: absolute;
  width: 0.45rem;
  height: 0.1rem;
  top: 3.6rem;
  left: -0.78rem;
  transform: rotate(50deg);
}
.phone .frame .header .user .avatar {
  width: 1.5rem;
  border: 1px solid white;
  border-radius: 50%;
}
.phone .frame .header .user .info {
  text-align: left;
  margin-left: 0.5rem;
  color: white;
}
.phone .frame .header .user .info h4 {
  font-size: 0.75rem;
  margin: 0;
  padding-left: 0.15rem;
}
.phone .frame .header .user .info p {
  font-size: 0.6rem;
  margin: 0;
  padding: 0.1rem 0.2rem 0.2rem;
  color: white;
  opacity: 0.7;
}
.phone .frame .header .dots {
  flex-direction: column;
  padding-top: 1.7rem;
}
.phone .frame .header .dots .dot {
  width: 0.14rem;
  height: 0.14rem;
  border-radius: 50%;
  background: white;
  margin: 0.05rem 0;
}
.phone .frame .msg-board {
  padding: 0.5rem 0.5rem;
}
.phone .frame .msg-board p {
  margin: 0;
  font-size: 0.5rem;
  letter-spacing: 0.5px;
  line-height: 1.5em;
}
.phone .frame .msg-board .message-a {
  background: rgba(146, 65, 200, 0.09);
  color: #9241c8;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 145px;
  border-radius: 10px;
  border-bottom-left-radius: 4px;
}
.phone .frame .msg-board .message-b {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 145px;
  border-radius: 10px;
  background: white;
  color: #333;
  border-bottom-right-radius: 4px;
  margin-left: auto;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08);
}
.phone .frame .msg-board .small {
  text-align: right;
  max-width: 90px;
  margin-bottom: 1.1rem;
}
.phone .frame .msg-board .images {
  margin: 0.8rem 0 0.7rem 0;
  justify-content: flex-end;
}
.phone .frame .msg-board .images img:not(:last-child) {
  margin-right: 0.5rem;
}
.phone .frame .msg-board .images img {
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 10px;
}
.phone .frame .msg-board .price {
  background: linear-gradient(to right, #e942ff, #8838ff);
  max-width: 75%;
  color: white;
  padding: 0.5rem 0.6rem;
  justify-content: space-between;
  border-radius: 10px;
  border-bottom-left-radius: 4px;
  margin-bottom: 0.5rem;
}
.phone .frame .msg-board .price .circle {
  display: inline-block;
  background: transparent;
  border: 2px solid #e570ff;
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
}
.phone .frame .msg-board .price .time {
  font-size: 0.5rem;
  margin-left: 0.4rem;
}
.phone .frame .msg-board .price .dollar-price {
  font-size: 0.8rem;
  font-weight: 600;
}
.phone .frame .msg-board .send {
  position: relative;
}
.phone .frame .msg-board .send #send-msg {
  background: white;
  border: none;
  outline: none;
  padding: 0.7rem 1.2rem;
  border-radius: 30px;
  width: 100%;
}
.phone .frame .msg-board .send #send-msg::placeholder {
  font-size: 0.6rem;
  color: #c6cacd;
}
.phone .frame .msg-board .send .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #3e2753;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0.2rem;
  top: 0.4rem;
}
.phone .frame .msg-board .send .btn .chevron {
  width: 0.7rem;
  height: 0.7rem;
}

.text {
  width: 50%;
}
.text h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #3e2753;
}
.text p {
  font-size: 1.1rem;
  line-height: 1.6em;
  color: #a39daa;
  max-width: 68%;
}

/*# sourceMappingURL=style.css.map */
