// google font
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap')

// primary color variables
$paleviolet: hsl(256, 100%, 81%) //  (sub-heading at the top of the app UI)
$moderate-violet : hsl(276, 55%, 52%) // chat on the left)
$desaturated-dark-violet : hsl(271, 15%, 43%) // (chat on the right)
$grayish-blue : hsl(206, 6%, 79%) // (placeholder text)
$desaturated-violet : hsl(271, 36%, 24%) // (main heading)
$dark-grayish-violet: hsl(270, 7%, 64%) // (paragraph)

// gradient
$bg-gradient: linear-gradien(35deg, hsl(293, 100%, 63%),hsl(264, 100%, 61%))
// - light-magenta: hsl(293, 100%, 63%)
// - light-violet: hsl(264, 100%, 61%)

// secondary colors
$white: hsl(0, 0%, 100%)
$light-grayish-violet : hsl(270, 20%, 96%) // (app background)
$very-dark-desaturated-violet : hsl(271, 36%, 24%) // (submit button background)
$very-light-magenta : hsl(289, 100%, 72%) // (radio button outline)

// global styles
*,*::before,*::after
	box-sizing: bordre-box

body
	font-size: 16px
	margin: 0
	font-family: 'Rubik', sans-serif

img
	max-width: 100%