// google font
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap')

// primary color variables
$paleviolet: hsl(256, 100%, 81%) //  (sub-heading at the top of the app UI)
$moderate-violet : hsl(276, 55%, 52%) // chat on the left)
$desaturated-dark-violet : hsl(271, 15%, 43%) // (chat on the right)
$grayish-blue : hsl(206, 6%, 79%) // (placeholder text)
$desaturated-violet : hsl(271, 36%, 24%) // (main heading)
$dark-grayish-violet: hsl(270, 7%, 64%) // (paragraph)

// gradient
$bg-gradient: linear-gradient(180deg, hsl(293, 100%, 63%),hsl(264, 100%, 61%))
$header-gradient: linear-gradient(to left, hsl(293, 100%, 63%),hsl(264, 100%, 61%))
$price-gradient: linear-gradient(to right, hsl(293, 100%, 63%),hsl(264, 100%, 61%))
// - light-magenta: hsl(293, 100%, 63%)
// - light-violet: hsl(264, 100%, 61%)

// secondary colors
$white: hsl(0, 0%, 100%)
$light-grayish-violet : hsl(0, 0%, 97%) // (app background)
$shape-bg : hsl(290, 17%, 95%) // (shape background)
$very-dark-desaturated-violet : hsl(271, 36%, 24%) // (submit button background)
$very-light-magenta : hsl(289, 100%, 72%) // (radio button outline)

// global styles
*,*::before,*::after
	box-sizing: border-box

body
	font-size: 16px
	margin: 0
	font-family: 'Rubik', sans-serif

img
	max-width: 100%
	
.flex
	display: flex
	justify-content: center
	align-items: center
	
.container
	width: 100vw
	height: 100vh
	position: relative
	background: $light-grayish-violet
	overflow: hidden
	z-index: -2
	
	&::before
		content: ""
		display: block
		background: $bg-gradient
		border-bottom-right-radius: 450px
		border-bottom-left-radius: 450px
		width: 35vw
		height: 86vh
		position: absolute
		top:0
		left:-6vw
		z-index: -1
	
	&::after
		content: ""
		display: block
		background: $shape-bg
		border-top-right-radius: 450px
		border-top-left-radius: 450px
		width: 35vw
		height: 84vh
		position: absolute
		bottom:0
		right:-14vw
		z-index: -1
		
// the phone styles 
.phone
	width:50%
	// justify-content: flex-end
	
	.frame
		height: 532px
		width: 255px
		border: 10px solid $white
		border-radius: 30px
		overflow: hidden
		position: relative
		background: $light-grayish-violet
		margin-right: -16rem
		box-shadow: 15px 25px 28px 3px rgba(0,0,0,.08)
		
		.notch
			background: $white
			width: 9rem
			height: 2rem
			border-radius: 15px
			position: absolute
			left: 3rem
			top: -.8rem 

		.header
			justify-content: space-between
			background: $header-gradient
			height: 70px
			padding: 0 1.3rem
			border-bottom-right-radius: 5px
			border-bottom-left-radius: 5px
			box-shadow: 0px 3px 5px rgba(0,0,0,.1)

			.user
				padding: 2.5rem 0 1rem 0
				position: relative
				
				&::before
					content: ""
					background: $white
					position: absolute
					width: .45rem
					height: .1rem
					top: 3.35rem
					left: -.8rem
					transform: rotate(-50deg)
				
				&::after
					content: ""
					background: $white
					position: absolute
					width: .45rem
					height: .1rem
					top: 3.6rem
					left: -.78rem
					transform: rotate(50deg)
				
				.avatar
					width: 1.5rem
					border: 1px solid $white
					border-radius: 50%
					
				.info
					text-align: left
					margin-left: .5rem
					color: $white

					h4
						font-size: .75rem
						margin: 0
						padding-left: .15rem
					
					p
						font-size: .6rem
						margin: 0
						padding: .1rem .2rem .2rem
						color: $white
						opacity: .7 
			
			.dots
				flex-direction: column
				padding-top: 1.7rem
				.dot
					width: .14rem
					height: .14rem
					border-radius: 50%
					background: $white
					margin: 0.05rem 0
					
		// message board
		.msg-board
			padding: .5rem .5rem
			
			p
				margin: 0
				font-size: .5rem
				letter-spacing: .5px
				line-height: 1.5em  
			
			.message-a
				background: rgba($moderate-violet,.09)
				color: $moderate-violet
				padding: .5rem
				margin-bottom: .5rem
				max-width: 145px
				border-radius: 10px
				border-bottom-left-radius: 4px
				
			.message-b
				padding: .5rem
				margin-bottom: .5rem
				max-width: 145px
				border-radius: 10px
				background: $white
				color: #333
				border-bottom-right-radius: 4px
				margin-left: auto
				box-shadow: 0px 2px 5px rgba(0,0,0,.08)
				
			.small
				text-align: right
				max-width: 90px  
				margin-bottom: 1.1rem 
				
			.images
				margin: .8rem 0 .7rem 0
				justify-content: flex-end
				
				img:not(:last-child)
					margin-right: .5rem 

				img
					width: 2.7rem
					height: 2.7rem  
					border-radius: 10px
					
			.price
				background: $price-gradient
				max-width: 75%
				color: $white
				padding: .5rem .6rem
				justify-content: space-between
				border-radius: 10px
				border-bottom-left-radius: 4px
				margin-bottom: .5rem
				
				.circle
					display: inline-block 
					background: transparent
					border: 2px solid $very-light-magenta
					border-radius: 50%  
					width: .9rem
					height: .9rem
					
				.time
					font-size: .5rem
					margin-left: .4rem
					 
				.dollar-price
					font-size: .8rem
					font-weight: 600
			
			.send
				position: relative
				#send-msg
					background: $white
					border: none
					outline: none
					padding: .7rem 1.2rem
					border-radius: 30px
					width: 100%
					
					&::placeholder
						font-size: .6rem
						color: $grayish-blue

				.btn
					display: flex
					justify-content: center
					align-items: center
					border-radius: 50%
					border: none
					outline: none
					background: $very-dark-desaturated-violet
					width: 1.5rem
					height: 1.5rem  
					position: absolute
					right: .2rem
					top: .4rem  
					
					.chevron
						width: .7rem
						height: .7rem 


// the main heading styles
.text
	width: 50%
	
	h1
		font-size: 2.5rem
		font-weight: 500
		color: $desaturated-violet
		
	p
		font-size: 1.1rem
		line-height: 1.6em
		color: $dark-grayish-violet
		max-width: 68%